# Padrão Regex para captura da URL de convite no WhatsApp
TARGET_REGEX=https:\/\/prestador\.veloxcontactcenter\.com\.br\/prestador\/ConvitePrestador\/VisualizarConvite\?ChaveConvite=[a-f0-9\-]+
HTTP_TIMEOUT=5000
